<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>사망보험 청구서 목록</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/bootstrap.min.css">
    <script type="text/javascript">
        function claimItem(claimNum, insId){
            $(opener.document).find("#claimNum").val(claimNum);
            // $(opener.document).find("#insId").val(insId);
            window.self.close();
        }
    </script>
    <style>
        .layout{
            max-width: 100%;
            margin: 0 auto;
            padding: 20px;
            display: flex;
            flex-wrap: nowrap;
            gap: 1em;
        }
        aside{
            flex-basis: 260px;
            flex-grow: 0;
            flex-shrink: 0;
            padding: 10px;
            font-size: 18px;
            line-height: 210%;
            background-color: white;
        }
        article{
            flex-basis: 880px;
            flex-grow: 1;
            flex-shrink: 1;
            border-bottom: 1px solid lightgray;
        }
    </style>
</head>
<body>
    <th:block th:if="${#strings.isEmpty(item) }">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">FDSProjectTeam</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="deathClaimChart">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Claims</a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav2">
                관리자 페이지
            </div>
        </nav>
    </th:block>
    <div class="layout">
        <th:block th:if="${#strings.isEmpty(item) }">
            <aside>
                <a href="deathClaimChart">통계 및 분석</a><br />
                <a href="deathClaimWrite">부당 지급 확인</a><br />
                <a href="#">지급 거부 통계</a><br />
                <a href="#">리포트</a><br />
            </aside>
        </th:block>
        <article>
            <h3>청구 목록</h3>
            <table class="table table-hover">
                <form action="deathClaimList" method="get">
                    <tr><td colspan="5">
                        <div class="d-flex justify-content-center align-items-center">
                            <th:block th:if="${!#strings.isEmpty(item)}">
                                <input type="hidden" name="item" th:value="${item}" />
                            </th:block>
                            <input type="search" class="form-control mr-2" name="searchWord"
                                   style="width: 30%" th:value="${searchWord }" />
                            <input type="submit" class="btn btn-outline-dark" value="검색" />
                        </div>
                    </td></tr>
                </form>
                <tr><th>번호</th><th>청구 번호</th><th>피보험자 번호</th><th>청구인 성명</th><th>청구일</th></tr>
                <tr th:each="dto, idx : ${dtos}">
                    <th>[[${idx.count }]]</th>
                    <td>
                        <th:block th:if="${!#strings.isEmpty(item) }">
                            <a th:href="|javascript:claimItem('${dto.claimNum }','${dto.insId}')|">[[${dto.claimNum }]]</a>
                        </th:block>
                        <th:block th:if="${#strings.isEmpty(item) }">
                            [[${dto.claimNum }]]
                        </th:block>
                    </td>
                    <td>[[${dto.insId }]]</td>
                    <td>[[${dto.claimName }]]</td>
                    <td>[[${#dates.format(dto.claimDate, 'yyyy-MM-dd') }]]</td>
                </tr>
                <tr align="center">
                    <td colspan="5" style="word-spacing: 10px;">
                        <th:block th:if="${#strings.isEmpty(item) }">
                            <th:block th:if="${page <= 1}">
                                [이전]
                            </th:block>
                            <th:block th:if="${page > 1}">
                                <a th:href="@{deathClaimList(page=${page - 1},
                                searchWord=${searchWord})}">[이전]</a>
                            </th:block>

                            <th:block th:each=" i : ${#numbers.sequence(startPage, endPage)}">
                                <a th:href="@{deathClaimList(page=${i},searchWord=${searchWord})}">[[${i}]]</a>
                            </th:block>
                            <th:block th:if="${page >= maxPage}">
                                [다음]
                            </th:block>
                            <th:block th:if="${page < maxPage}">
                                <a th:href="@{deathClaimList(page=${page + 1},
                                searchWord=${searchWord})}">[다음]</a>
                            </th:block>
                        </th:block>
                        <th:block th:if="${!#strings.isEmpty(item) }">
                            <th:block th:if="${page <= 1}">
                                [이전]
                            </th:block>
                            <th:block th:if="${page > 1}">
                                <a th:href="@{deathClaimList(page=${page - 1},
                                searchWord=${searchWord},item=${item })}">[이전]</a>
                            </th:block>

                            <th:block th:each=" i : ${#numbers.sequence(startPage, endPage)}">
                                <a th:href="@{deathClaimList(page=${i},searchWord=${searchWord},item=${item })}">[[${i}]]</a>
                            </th:block>
                            <th:block th:if="${page >= maxPage}">
                                [다음]
                            </th:block>
                            <th:block th:if="${page < maxPage}">
                                <a th:href="@{deathClaimList(page=${page + 1},
                                searchWord=${searchWord},item=${item })}">[다음]</a>
                            </th:block>
                        </th:block>
                    </td>
                </tr>
            </table>
        </article>
    </div>
</body>
</html>