<!--
    사망보험에 관한 미리 정해놓은 시나리오에 의해 결과값이 출력되는 페이지입니다.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>deathClaimResult.html</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/bootstrap.min.css">
</head>
<body>
    <br />
    <h3 style="text-align: center">사망보험</h3>
    <h3 style="text-align: center">부당 지급 확인 결과</h3>
    <br />
    <table class="table table-bordered table-hover" style="text-align: center;">
        <tr><th>청구번호</th><td>청구번호</td></tr>
        <tr><th>가입자성명</th><td>가입자성명</td></tr>
        <tr><th>청구인성명</th><td>청구인성명</td></tr>
        <tr><th>청구인 생년월일</th><td>청구인 생년월일</td></tr>
        <tr><th>청구인 주소</th><td>청구인 주소</td></tr>
        <tr><th>청구인 상세주소</th><td>청구인 상세주소</td></tr>
        <tr><th>청구인 우편번호</th><td>청구인 우편번호</td></tr>
        <tr><th>청구인 이메일</th><td>청구인 이메일</td></tr>
        <tr><th>사망 원인</th><td>사망 원인</td></tr>
        <tr><th>사망일</th><td>사망일</td></tr>
        <tr><th>사망 장소</th><td>사망 장소</td></tr>
        <tr><th>사망의 종류</th><td>사망의 종류</td></tr>
        <tr><th>보험금 수령 계좌</th><td>보험금 수령 계좌</td></tr>
        <!-- 시나리오에 의해 지급 거부가 되면 거부 사유가 출력되도록 기능을 구현했습니다. -->
        <tr><th colspan="2"><span style="color: green; font-size: large;">지급 승인</span>
                            <span style="color: red; font-size: large;">지급 거부</span></th></tr>
        <tr><th colspan="2">사유 : [시나리오]</th></tr>
    </table>
    <table class="table table-borderless" style="text-align: center;">
        <tr><th><button type="button" class="btn btn-outline-dark" onclick="javascript:location.href='/'">홈으로</button></th></tr>
    </table>
</body>
</html>