<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Account Chart</title>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script th:inline="javascript">

        function drawChart() {
            try {
                var chartDataArray = JSON.parse([[${chartData}]]);
                console.log(chartDataArray);

                var data = new google.visualization.arrayToDataTable(chartDataArray);

                // var view = new google.visualization.DataView(data);
                // view.setColumns([0, 1,
                //     { calc: "stringify",
                //         sourceColumn: 1,
                //         type: "string",
                //         role: "annotation" },
                //     2]);

                var options = {
                    title: 'Account Chart',
                    width: 800,
                    height: 600
                };

                var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
                chart.draw(data, options);
            }catch (e) {
                console.error("JSON parsing error: ", e);
            }
        }

        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);
    </script>
</head>
<body>
    <h2>Account Chart</h2>
    <div id="chart_div"></div>
</body>
</html>