<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CreditCard_Payment</title>
</head>
<body>
<h2>결제 정보 입력</h2>
<form action="/payment" method="post">
    결제 ID:<br>
    <input type="text" name="purchaseId" th:value="${purchaseCommand.purchaseId}" required><br><br>

    고객 ID:<br>
    <input type="text" name="customerId" required><br><br>

    결제 금액:<br>
    <input type="number" name="purchasePrice" required><br><br>

    카드번호:<br>
    <input type="text" name="cardNum" required><br><br>

    카드유효기간:<br>
    <input type="text" name="expiryYear" required> / <input type="text" name="expiryMonth" required><br><br>

    IP 주소:<br>
    <input type="text" name="ipAddress" required><br><br>

    <input type="submit" value="제출">
</form>
</body>
</html>